
@{
    ViewBag.Title = "addRecord";
    Layout = null;
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<h2>addRecord</h2>

@using (Html.BeginForm("saveData", null, FormMethod.Post, new { @class = "", @enctype = "multipart/form-data" }))
{
    <label> News ID</label>

    <input type="text" class="form-control" placeholder="News ID" name="newsId">

    <label>News Description</label>

    <input type="text" class="form-control" placeholder="News Description" name="newsDescription">

    <label>Image</label>

    <input type="file" value="Choose Image" name="SelectedImg">

    <label>Caption</label>
    <input type="text" class="form-control" placeholder="Image Caption" name="imageCaption">

    <label>News Date</label>


    <input type="text" class="form-control" placeholder="News Date" name="newsDate">

    <label>News Detail</label>

    <input type="text" class="form-control" value="News detail" name="newsDetail">
    <label>Author</label>
    <input type="text" class="form-control" value="Author name" name="author" >


    <input type="submit" value="Add +" class="btn btn-success" style="width: 100%; margin-top: 20px; height: 50px; font-size: 20px;">


}
